@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-frank-ruhl-libre: 'Frank Ruhl Libre', serif;
  --font-rubik: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-frank-ruhl-libre);
}

p, span, li, a, div {
  font-family: var(--font-rubik);
}